@model ModelExample.Models.Books
@{
    ViewBag.Title = "Details";
}

<h2>Book Details</h2>

<!-- strongly types views -->

<table class="table">
    <tr>
        <th>Book Id</th>
        <td>@Model.BookId</td>
    </tr>
    <tr>
        <th>Author Name</th>
        <td>@Model.AuthorName</td>
    </tr>
    <tr>
        <th>Rate</th>
        <td>@Model.Rate</td>
    </tr>
</table>


