
@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Author Name</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookId</td>
                <td><a href="/books/details/@item.BookId">@item.AuthorName </a></td>
                <td>@item.Rate</td>
            </tr>
        }
    </tbody>
</table>
