<!--model EFDBDoctorPatient.Models.Doctor

{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete</h2>

<form action="/doctor/edit/@Model.DoctorID" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DoctorName">Doctor Name : </label>
            <input type="hidden" name="DoctorID" value="@Model.DoctorID" /> @Model.DoctorName
        </div>

        <div class="form-group col-md-6">
            <label for="Specialization">Specialization : </label> @Model.Specialization
        </div>
    </div>-->


       @*<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure You want to delete')">Delete</button>*@
    <!--<a class="btn btn-outline-danger" href="/doctor/index">Cancel</a>
</form>-->